@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h5,
p,
span,
a {
  color: #000;
}

h1 {
  font-size: 28px;
  margin-bottom: 5%;
}

h2 {
  text-align: center;
  margin-bottom: 13%;
  border-bottom: 1px solid #000;
  border-radius: 10%;
  padding-bottom: 8px;
}

h3 {
  margin-bottom: 1vh;
}

h4 {
  margin-bottom: 2vh;
  font-size: 14px;
  color: #919191;
}

.page {
  background-color: #fafafa;
}

.page__header,
.page__about,
.page__skills,
.page__work-experience,
.page__education,
.page__languages,
.page__contact,
.page__hobbies {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 8%;
  -webkit-box-shadow: 0 0 8px 0 #887f7f;
          box-shadow: 0 0 8px 0 #887f7f;
}

.header {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__image {
  width: 40%;
  height: 50%;
  border-radius: 50%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.header .header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header .header__nav .nav__list {
  list-style: none;
}

.header .header__nav .nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
}

.header .header__nav .nav__image {
  margin-right: 8px;
  width: 4vh;
  height: 4vh;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

.header .header__nav .nav__text {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.header .header__nav .nav__cv-download-button {
  margin-inline: auto;
  margin-top: 16px;
  color: #fff;
  text-decoration: none;
  padding: 8px 16px;
  background-color: #4f69df;
  border-radius: 20px;
  font-size: 12px;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  -webkit-transition: 0.3s -webkit-filter;
  transition: 0.3s -webkit-filter;
  transition: 0.3s filter;
  transition: 0.3s filter, 0.3s -webkit-filter;
}

.about {
  background-color: #c7c7c7;
}

.skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.skills__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
}

.work-experience {
  background-color: #c7c7c7;
}

.work-experience__article {
  margin-bottom: 30px;
  -webkit-box-shadow: 4px 4px 5px 1px #887f7f;
          box-shadow: 4px 4px 5px 1px #887f7f;
  padding: 30px;
  background-color: #fafafa;
}

.education {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.education__school {
  margin-bottom: 8vh;
  text-align: center;
}

.education__school--last {
  margin-bottom: 0;
}

.languages {
  background-color: #c7c7c7;
  text-align: center;
}

.languages__list {
  list-style: none;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  text-align: center;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.contact .nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
}

.contact .nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.contact .nav__item--github {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.contact .nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-decoration: none;
  margin-bottom: 8vh;
}

.contact .nav__image {
  width: 6vh;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.hobbies {
  background-color: #c7c7c7;
}

.hobbies .article__name {
  text-align: center;
  margin-bottom: 16px;
}

.hobbies .article__text {
  margin-bottom: 50px;
  -webkit-box-shadow: 0 0 5px 5px #887f7f;
          box-shadow: 0 0 5px 5px #887f7f;
  padding: 18px;
  background-color: #fafafa;
}

.menu-mobile {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  position: fixed;
  top: 0;
  right: 0;
  width: 0;
  height: 100%;
  background-color: #000;
  -webkit-transition: .3s;
  transition: .3s;
}

.menu-mobile.active {
  width: 70%;
}

.menu-mobile__button-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
}

.menu-mobile__button {
  border-style: none;
  background-color: #000;
  color: #fff;
  text-transform: uppercase;
  padding: 5% 5%;
  font-size: 15px;
}

.menu-mobile .hamburger {
  font-size: 25px;
  color: #fff;
}

.menu-mobile .hamburger .fa-bars,
.menu-mobile .hamburger .fa-arrow-right {
  position: absolute;
  display: none;
}

.menu-mobile .hamburger .fa-bars.active {
  display: block;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 12px;
  border-radius: 0 0 0 30%;
}

.menu-mobile .hamburger .fa-arrow-right.active {
  display: block;
  top: 3vh;
  left: 3vh;
}

.menu-mobile .up-top-arrow .fa-arrow-circle-up {
  opacity: 0;
  position: fixed;
  bottom: 3vh;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 35px;
  -webkit-transition: .3s opacity;
  transition: .3s opacity;
}

.menu-mobile .up-top-arrow .fa-arrow-circle-up.active {
  opacity: 1;
}
/*# sourceMappingURL=style.css.map */