@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.header__name-surname,
.title-h2,
.name-h3,
.text {
  color: #000;
}

.header__name-surname {
  font-size: 28px;
  margin-bottom: 8px;
}

.title-h2 {
  margin-bottom: 25px;
  border-bottom: 1px solid #000;
  border-radius: 10%;
  padding-bottom: 8px;
  text-align: center;
}

.name-h3 {
  margin-bottom: 6px;
}

.subname-h4 {
  margin-bottom: 14px;
  font-size: 14px;
  color: #919191;
}

@media (min-width: 640px) {
  .header__name-surname {
    font-size: 30px;
  }
  .title-h2 {
    border-width: 2px;
    font-size: 22px;
  }
  .name-h3 {
    font-size: 18px;
  }
  .subname-h4 {
    font-size: 15px;
  }
  .text {
    font-size: 14px;
  }
}

@media (min-width: 768px) {
  .header__name-surname {
    font-size: 32px;
  }
  .title-h2 {
    border-width: 2px;
    font-size: 28px;
  }
  .name-h3 {
    font-size: 21px;
  }
  .subname-h4 {
    font-size: 19px;
  }
  .text {
    font-size: 18px;
  }
}

@media (min-width: 1024px) {
  .title-h2 {
    margin-bottom: 50px;
    font-size: 22px;
  }
  .name-h3 {
    font-size: 18px;
  }
  .subname-h4 {
    font-size: 14px;
    color: #fff;
  }
  .text {
    font-size: 14px;
  }
}

@media (min-width: 1440px) {
  .header__name-surname {
    font-size: 40px;
  }
  .title-h2 {
    font-size: 28px;
  }
  .name-h3 {
    font-size: 22px;
  }
  .subname-h4 {
    font-size: 16px;
  }
  .text {
    font-size: 16px;
  }
}

@media (min-width: 1920px) {
  .header__name-surname {
    font-size: 58px;
  }
  .title-h2 {
    font-size: 36px;
  }
  .name-h3 {
    font-size: 30px;
  }
  .subname-h4 {
    font-size: 23px;
  }
  .text {
    font-size: 22px;
  }
}

.page {
  background-color: #757575;
}

.page__wrapper {
  background-color: #fafafa;
}

@media (min-width: 1024px) {
  .page__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 80%;
    margin: 100px auto;
    -webkit-box-shadow: 0 0 30px 0px black;
            box-shadow: 0 0 30px 0px black;
  }
}

@media (min-width: 1024px) {
  .flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.page__header,
.page__about,
.page__skills,
.page__work-experience,
.page__education,
.page__languages,
.page__contact,
.page__hobbies {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 32px;
  -webkit-box-shadow: 0 0 8px 0 #887f7f;
          box-shadow: 0 0 8px 0 #887f7f;
}

@media (min-width: 768px) {
  .page__header,
  .page__about,
  .page__skills,
  .page__work-experience,
  .page__education,
  .page__languages,
  .page__contact,
  .page__hobbies {
    padding: 80px;
  }
}

@media (min-width: 1024px) {
  .page__header,
  .page__about,
  .page__skills,
  .page__work-experience,
  .page__education,
  .page__languages,
  .page__contact,
  .page__hobbies {
    padding: 40px;
  }
}

.header {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-inline: 0;
  padding-block: 70px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (min-width: 1024px) {
  .header {
    padding: 25px;
  }
}

.header__image {
  width: 45%;
  border-radius: 1%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

@media (min-width: 1024px) {
  .header__image {
    width: 35%;
  }
}

.header__language-button {
  position: absolute;
  top: 3%;
  left: 2%;
  text-align: center;
  text-decoration: none;
  color: #000;
}

@media (min-width: 1024px) {
  .header__language-button:hover .header__language-image {
    width: 50px;
  }
}

.header__language-image {
  width: 20px;
  padding: 1px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 1px #000;
          box-shadow: 0 0 0 1px #000;
}

@media (min-width: 500px) {
  .header__language-image {
    width: 23px;
  }
}

@media (min-width: 768px) {
  .header__language-image {
    width: 32px;
  }
}

@media (min-width: 1024px) {
  .header__language-image {
    width: 28px;
  }
}

@media (min-width: 1920px) {
  .header__language-image {
    width: 38px;
  }
}

.header__language-text {
  display: block;
  font-size: 8px;
}

@media (min-width: 540px) {
  .header__language-text {
    font-size: 12px;
  }
}

@media (min-width: 768px) {
  .header__language-text {
    font-size: 18px;
  }
}

@media (min-width: 1024px) {
  .header__language-text {
    font-size: 12px;
  }
}

@media (min-width: 1920px) {
  .header__language-text {
    font-size: 22px;
  }
}

.header .header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .header__nav .nav__list {
  list-style: none;
}

.header .header__nav .nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
}

.header .header__nav .nav__image {
  width: 25px;
  height: 25px;
  margin-right: 8px;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  -webkit-transition: .3s;
  transition: .3s;
}

@media (min-width: 533px) {
  .header .header__nav .nav__image {
    width: 29px;
    height: 29px;
  }
}

@media (min-width: 640px) {
  .header .header__nav .nav__image {
    width: 40px;
    height: 40px;
  }
}

.header .header__nav .nav__text {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.header .header__nav .nav__cv-download-button {
  padding: 8px 16px;
  margin-inline: auto;
  margin-top: 16px;
  border-radius: 20px;
  font-size: 12px;
  color: #fff;
  text-decoration: none;
  background-color: #4f69df;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  -webkit-transition: 0.3s -webkit-filter;
  transition: 0.3s -webkit-filter;
  transition: 0.3s filter;
  transition: 0.3s filter, 0.3s -webkit-filter;
}

@media (min-width: 640px) {
  .header .header__nav .nav__cv-download-button {
    padding: 16px 32px;
    font-size: 12px;
  }
}

@media (min-width: 533px) {
  .header {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .header .header__nav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: distribute;
        align-content: space-around;
  }
}

@media (min-width: 1024px) {
  .header .header__nav {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    text-align: center;
  }
  .header .header__nav .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .header__nav .nav__item {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    margin-block: 30px;
  }
  .header .header__nav .nav__item--github {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .header .header__nav .nav__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-inline: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .header__nav .nav__link:hover .nav__image {
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  .header .header__nav .nav__link:hover .nav__image--github {
    -webkit-box-shadow: 0 0 0 3px #1bb6fa;
            box-shadow: 0 0 0 3px #1bb6fa;
    border-radius: 50%;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .header .header__nav .nav__image {
    margin: 0;
  }
  .header .header__nav .nav__text {
    font-size: 12px;
  }
  .header .header__nav .nav__cv-download-button {
    padding: 12px 28px;
    -webkit-transition: .3s;
    transition: .3s;
    cursor: pointer;
  }
  .header .header__nav .nav__cv-download-button:hover {
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
}

@media (min-width: 1280px) {
  .header .header__nav .nav__image {
    width: 50px;
    height: 50px;
  }
}

@media (min-width: 1440px) {
  .header .header__nav .nav__cv-download-button {
    padding: 14px 50px;
    font-size: 16px;
  }
  .header .header__nav .nav__image {
    width: 60px;
    height: 60px;
  }
  .header .header__nav .nav__text {
    font-size: 16px;
  }
}

@media (min-width: 1440px) {
  .header .header__nav .nav__cv-download-button {
    padding: 20px 60px;
    font-size: 16px;
  }
  .header .header__nav .nav__image {
    width: 75px;
    height: 75px;
  }
  .header .header__nav .nav__text {
    font-size: 18px;
  }
}

@media (min-width: 1920px) {
  .header .header__nav .nav__cv-download-button {
    font-size: 22px;
  }
  .header .header__nav .nav__text {
    font-size: 22px;
  }
}

.about {
  background-color: #c7c7c7;
}

@media (min-width: 1024px) {
  .about {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

.skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.skills__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.skills__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 30px;
  text-align: center;
}

.skills__name {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #000;
  border-radius: 10%;
}

.skills__text {
  text-align: left;
}

@media (min-width: 1024px) {
  .skills {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    background-color: #c7c7c7;
    -webkit-box-shadow: 0 0 8px 0 #887f7f;
            box-shadow: 0 0 8px 0 #887f7f;
  }
}

.work-experience {
  background-color: #c7c7c7;
}

.work-experience__article {
  padding: 30px;
  margin-bottom: 30px;
  -webkit-box-shadow: 4px 4px 5px 1px #887f7f;
          box-shadow: 4px 4px 5px 1px #887f7f;
  background-color: #fafafa;
}

@media (min-width: 1024px) {
  .work-experience {
    background-color: #fafafa;
  }
  .work-experience__article {
    margin: 100px auto;
    padding: 50px;
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
    background-color: #c7c7c7;
  }
}

.education {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.education__school {
  margin-bottom: 60px;
}

.education__school--last {
  margin-bottom: 0;
}

@media (min-width: 1024px) {
  .education {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    -webkit-box-shadow: 0 0 8px 0 #887f7f;
            box-shadow: 0 0 8px 0 #887f7f;
    background-color: #c7c7c7;
  }
  .education__school {
    margin-bottom: 80px;
    text-align: center;
  }
}

.languages {
  text-align: center;
  background-color: #c7c7c7;
}

.languages__list {
  list-style: none;
}

@media (min-width: 1024px) {
  .languages {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  text-align: center;
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media (min-width: 1024px) {
  .contact__title {
    margin-bottom: 100px;
  }
}

.contact .nav {
  width: 100%;
}

.contact .nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
}

.contact .nav__item {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.contact .nav__item--github {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.contact .nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 45px;
  text-decoration: none;
}

.contact .nav__image {
  width: 38px;
  height: 38px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media (min-width: 640px) {
  .contact .nav__image {
    width: 50px;
    height: 50px;
  }
}

@media (min-width: 768px) {
  .contact .nav__image {
    width: 58px;
    height: 58px;
  }
}

@media (min-width: 1024px) {
  .contact .nav__image {
    width: 50px;
    height: 50px;
  }
}

@media (min-width: 1920px) {
  .contact .nav__image {
    width: 75px;
    height: 75px;
  }
}

@media (min-width: 1024px) {
  .contact .nav__list {
    margin-bottom: 50px;
  }
  .contact .nav__image {
    -webkit-transition: .3s;
    transition: .3s;
  }
  .contact .nav__link:hover .nav__image {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  .contact .nav__link:hover .nav__image--github {
    -webkit-box-shadow: 0 0 0 3px #1bb6fa;
            box-shadow: 0 0 0 3px #1bb6fa;
    border-radius: 50%;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@media (min-width: 1130px) {
  .contact .nav__list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .contact .nav__item {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
  }
}

.hobbies {
  background-color: #c7c7c7;
}

.hobbies .article__name {
  margin-bottom: 16px;
  text-align: center;
}

.hobbies .article__text {
  margin-bottom: 50px;
  padding: 18px;
  -webkit-box-shadow: 0 0 5px 5px #887f7f;
          box-shadow: 0 0 5px 5px #887f7f;
  background-color: #fafafa;
}

@media (min-width: 1024px) {
  .hobbies .article {
    width: 60%;
    margin: 0 auto;
  }
}

.hobbies .article__name {
  margin-bottom: 20px;
}

.hobbies .article__text {
  padding: 40px;
}

.menu-mobile {
  position: fixed;
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  background-color: #000;
  -webkit-transition: .3s;
  transition: .3s;
}

.menu-mobile.active {
  width: 70%;
}

@media (min-width: 640px) {
  .menu-mobile.active {
    width: 40%;
  }
}

.menu-mobile__button-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 50%;
  width: 100%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.menu-mobile__button {
  padding: 12px 8px;
  font-size: 15px;
  border-style: none;
  background-color: #000;
  color: #fff;
  text-transform: uppercase;
}

@media (min-width: 640px) {
  .menu-mobile__button {
    font-size: 18px;
  }
}

.menu-mobile .hamburger {
  font-size: 25px;
  color: #fff;
}

.menu-mobile .hamburger .fa-bars,
.menu-mobile .hamburger .fa-arrow-right {
  position: absolute;
  display: none;
}

.menu-mobile .hamburger .fa-bars.active {
  display: block;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 12px;
  border-radius: 0 0 0 30%;
}

.menu-mobile .hamburger .fa-arrow-right.active {
  display: block;
  top: 3vh;
  left: 3vh;
}

@media (min-width: 640px) {
  .menu-mobile .hamburger {
    font-size: 35px;
  }
  .menu-mobile .hamburger .fa-bars.active {
    padding: 16px;
  }
}

@media (min-width: 1024px) {
  .menu-mobile .hamburger {
    display: none;
  }
}

.menu-mobile .up-top-arrow .fa-arrow-circle-up {
  position: fixed;
  bottom: 3vh;
  left: 50%;
  opacity: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 35px;
  -webkit-transition: .3s opacity;
  transition: .3s opacity;
}

.menu-mobile .up-top-arrow .fa-arrow-circle-up.active {
  opacity: 1;
}

@media (min-width: 640px) {
  .menu-mobile .up-top-arrow .fa-arrow-circle-up {
    font-size: 40px;
  }
}

@media (min-width: 768px) {
  .menu-mobile .up-top-arrow .fa-arrow-circle-up {
    font-size: 52px;
  }
}

@media (min-width: 1024px) {
  .menu-mobile .up-top-arrow .fa-arrow-circle-up {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */